@charset "UTF-8";

*,
*::before,
*::after { 
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh
    overflow: hidden;
}

#wrap {
    display: grid;
    height: 100%;
    width: 100%;

    /* 세로 방향(행) 레이아웃 정하기: 헤더(고정)-내용영역(나머지)-푸터(고정) */
    /* 헤더 높이 72px, 푸터 높이 150px, 1fr은 남은 공간 다 */
    grid-template-rows: 72px 1fr 150px;
    grid-template-columns: 1fr;
}


header {
    background-color: white;
    border-bottom: 1px solid #eee;
}

footer {
    background-color: lightblue;
    color: white;
}


#inner-wrap {
    height: 100%;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    /* 사이드 너비 200px */
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    /* #inner-wrap 내에서 스크롤이 넘치지 않도록 숨겨주기.*/
    overflow: hidden;
}


aside {
	border-right:1px solid #eee;
    height: 100%;
    overflow-y: hidden;
}

article {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}